table {
  align-self: center;
  border-collapse: separate;
  border-spacing: 0px 15px;
}

th {
  border-bottom: 1px solid black;
  align-self: center;
  padding: 15px;
  margin: 10px;
}

td {
  padding: 10px 10px;
  text-align: center;
}

tr {
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.25);
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}